<div class="container">
  <!-- Default box -->
  <div class="jumbotron welcome-jumbotron">
    <h1 class="titulo">Sobre nós</h1>
    <p class="sobrenos">
      Francês com três nativos é muito mais do que um projeto para ensinar a língua francesa. Se trata de uma iniciativa
      para mostrar que o ensino de um idioma pode ser feito de uma forma mais divertida e que aprender um idioma não
      é somente decorar regras de gramática. E aí, o nosso propósito faz sentido para você? Se sim, você está no lugar certo.
    </p>
    <!--<a class="btn btn-primary" href="#">Ver Alunos</a>-->
  </div>
  <!-- /.jumbotron -->
</div>
