<section class="bg-team">
  <section class="container">
      <h2 class="title">
          <span class="text-center">Conheça a nossa equipe</span>
          <!-- <span class="secontary">...</span> -->
      </h2>
      <div class="gallery-wrapper">
          <figure class="gallery-item">
              <img src="../../../../assets//img/Handy.jpeg" alt="" class="item-image">
              <figcaption class="item-description">
                  <h4 class="name">Handy Milliance</h4>
                  <span class="role">Falante nativo de Francês</span>
                  <button class="saibamais">Saiba mais</button>
              </figcaption>
          </figure>

          <figure class="gallery-item">
              <img src="../../../../assets/img/Jack.jpg" alt="" class="item-image">
              <figcaption class="item-description">
                  <h4 class="name">Jackenson Mathieu</h4>
                  <span class="role">Falante nativo de Francês</span>
                  <button class="saibamais">Saiba mais</button>
              </figcaption>
          </figure>

          <figure class="gallery-item">
              <img src="../../../../assets/img/Faubert.jpg" alt="" class="item-image">
              <figcaption class="item-description">
                  <h4 class="name">Faubert Alcindor</h4>
                  <span class="role">Falante nativo de Francês</span>
                  <button class="saibamais">Saiba mais</button>
              </figcaption>
          </figure>
      </div>
  </section>
</section>
