<div class="container">
  <div class="card-container">
    <div class="card card-widget widget-user">
      <!-- Conteúdo do primeiro card -->
      <div class="widget-user-header bg-info">
        <h3 class="widget-user-username">Handy Milliance</h3>
        <h5 class="widget-user-desc">Professor de Francês</h5>
      </div>
      <div class="widget-user-image">
        <img class="img-circle " src="../../../../assets/img/Handy.jpg" alt="User Avatar">
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block nacionalidade">
              <h5 class="description-header">Haitiano</h5>
              <span class="description-text">Nacionalidade</span>
            </div>
          </div>

          <div class="col-sm-4 border-right">
            <div class="description-block residencia">
              <h5 class="description-header">Brasil</h5>
              <span class="description-text">País de Residência</span>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">Disponível</h5>
              <span class="description-text">Disponibilidade</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card card-widget widget-user">
      <!-- Conteúdo do segundo card -->
      <!-- Conteúdo do primeiro card -->
      <div class="widget-user-header bg-info">
        <h3 class="widget-user-username">Jackenson Mathieu</h3>
        <h5 class="widget-user-desc">Professor de Francês</h5>
      </div>
      <div class="widget-user-image">
        <img class="img-circle " src="../../../../assets/img/Jack.jpg" alt="User Avatar">
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block nacionalidade">
              <h5 class="description-header">Haitiano</h5>
              <span class="description-text">Nacionalidade</span>
            </div>
          </div>

          <div class="col-sm-4 border-right">
            <div class="description-block residencia">
              <h5 class="description-header">Brasil</h5>
              <span class="description-text">País de Residência</span>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">Disponível</h5>
              <span class="description-text">Disponibilidade</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card card-widget widget-user">
      <!-- Conteúdo do terceiro card -->
      <div class="widget-user-header bg-info">
        <h3 class="widget-user-username">Faubert Alcindor</h3>
        <h5 class="widget-user-desc">Professor de Francês</h5>
      </div>
      <div class="widget-user-image">
        <img class="img-circle " src="../../../../assets/img/Faubert.jpg" alt="User Avatar">
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block nacionalidade">
              <h5 class="description-header">Haitiano</h5>
              <span class="description-text">Nacionalidade</span>
            </div>
          </div>

          <div class="col-sm-4 border-right">
            <div class="description-block residencia">
              <h5 class="description-header">Brasil</h5>
              <span class="description-text">País de Residência</span>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">Disponível</h5>
              <span class="description-text">Disponibilidade</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
