<div class="title-content">
  <h1>O que ensinamos?</h1>
</div>
<div class="container-card">
  <div class="card">
    <img src="../../../../assets/img/basico.jpg"/>
    <div class="card-body">
      <p class="card-text">Noções básicas</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../../assets/img/frases.jpg"/>
    <div class="card-body">
      <p class="card-text">Aprenda a construir uma frase</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../../assets/img/conversar.jpg"/>
    <div class="card-body">
      <p class="card-text">Aprenda a manter uma conversação</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../../assets/img/cultura.jpg"/>
    <div class="card-body">
      <p class="card-text">Um pouco de cultura também</p>
    </div>
  </div>
</div>
