  <footer class="text-center mt-5 bg-body-tertiary bg-light">
    <h2>Siga as nossas redes sociais</h2>
    <div class="container pt-4 ">

      <section class="mb-4">
        <!-- Facebook -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="https://www.facebook.com/profile.php?id=61555583940981"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook"></i>
        </a>

        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="https://www.instagram.com/francaislegalzinho/"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i>
        </a>

      </section>

    </div>

    <!-- Copyright -->
    <div class="text-center p-3">
      <strong>Copyright &copy; 2024 <a href="">Francês com três nativos</a>.</strong>
      All rights reserved.
    </div>
  </footer>
